* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ff4dff, #ffff4d);
}

.navbar {
    background-color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.navbar_left ul li {
    list-style: none;
    margin: 20px;
    position: relative;
    display: flex;
}

.navbar_right {
    display: flex;

}

.main {
    width: 100%;
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.box {
    width: 30%;
    background-color: rgba(240, 70, 70, 0.273);
    margin-left: 100px;
    padding: 40px;
    color: white;
    position: absolute;
    top: 100px;
    font-family: 'Roboto', sans-serif;
}

.down {
    width: 100%;
}

.down h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px auto; 
}
.card{
    background-color: white;
    border-radius: 0 50px 0 50px;
    padding: 20px;

}
.menu img {
    max-width: 100%;
    height: auto;
    width: 350px;
    height: 350px;
    border-radius: 0 50px 0 50px;
}

button{
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    display: block; 
    margin: 50px auto; 
}
