* {
    margin: 0;
    padding: 0;
}
body{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ff4dff , #ffff4d);
}

.navbar{
    background-color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.navbar_left ul li {
    list-style: none;
    margin: 20px;
    position: relative;
    display: flex;
}

.navbar_right{
    display: flex;
    
}
